@import "../css/normalize.css";
@import "./variables";

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    background: $main-background;
    padding: 10px;
}
section {
    border: 1px solid $border;
    padding: 10px;
    margin: 10px 0;
}
label {
    display: block;
    margin: 10px;
}
input {
    border-radius: 5px;
    cursor: pointer;
}
button {
    margin: 10px;
    border-radius: 5px;
}
.linear {
    display: flex;
    width: 100%;
    &__label {
        margin-right: 20px;
    }
}
.angle-handle {
    box-sizing: content-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid $dark;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__text {
        position: absolute;
        display: block;
        width: max-content;
        margin: 0;
    }
    &__indicator {
        width: 80px;
        height: 10px;
        background: none;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $dark;
            z-index: 2;
        }
    }
}
.radial {
    display: flex;
    flex-flow: row wrap;
    &__shape {
        margin-right: 50px;
    }
    &__beginning {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    &__radio-container {
    background: $dark;
    width: 90px;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    padding: 5px;
    border-radius: 10px;
    }
    &__value {
        margin: 0;
    }
}
.output-shape {
    background: black;
    width: 100px;
    height: 100px;
}
.invisible {
    display: none;
}
